* {
    margin: 0;
    padding: 0;
}

.first-container {
    background-image: url("bg image.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
}

.top {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;

}

.nav {
    margin-right: 40px;
}

.navbar {
    display: flex;
}

.navbar li {
    list-style: none;
    padding: 13px;
    text-align: center;
    font-size: 20px;


}

.navbar li a {
    text-decoration: none;
    color: white;

}

.navbar li :hover {
    border-bottom: 2px solid white;
    border-color: rgb(222, 104, 8);
}

.gyminfo {
    width: 50%;
    height: 500px;
    margin: 35px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.quote {
    width: fit-content;
    position: relative;
    left: 170px;
    font-size: 1.4rem;
    top: 50px;
}

.gym-detail {
    text-align: justify;
    position: relative;
    width: 557px;
    left: 170px;
    top: -15px;
}

.membtn {
    position: relative;
    left: 170px;
    top: -75px;
}

.join-button {
    display: block;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: orangered;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    width: 202px;

}

.membtn a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.sec-container {
    margin-top: 20px;
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-imp {
    /* border: 2px solid rgb(0, 0, 0); */
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-imp {
    /* border: 2px solid blue; */
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reason {

    /* border: 2px solid purple; */
    height: 100px;
    width: 300px;
    
}

.image-center {
    /* border: 2px solid purple; */
    height: 350px;
    width: 350px;
}

.image-center img {
    position: relative;
    top: -50px;
    height: 350px;
    width: 350px;
}

#rsn1,
#rsn2 {
    text-align: center;
    font-size: 45px;
}

#rsn2 {
    color: orangered;
}

.l1,
.l2,
.l3,
.r1,
.r2,
.r3 {
    /* border: 2px solid blueviolet; */
    width: 250px;
    height: 180px;
    text-align: center;

}

.l1 {
    position: relative;
    left: 220px;
    top: 80px;
}

.l2 {
    position: relative;
    left: 35px;
}
.l3{
    position: relative;
    left: 220px;
    bottom: 80px;
}

.r1 {
    position: relative;
    left: 20px;
    top: 80px;
}

.r2 {
    position: relative;
    left: 200px
}
.r3{
    position: relative;
    left :20px;
    bottom: 80px;
}
.l-1 {
    color: orangered;
    text-align: center;
    font-size: 45px;
}
.btn a{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 15px;
    border-radius: 10px ;
    transition-duration: 0.5s;
}
.btn a:hover {
    border: 2px solid orangered;
    color: black;
    background-color: white;
}